/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Fond sombre */
    color: #fff; /* Texte blanc */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #222; /* Fond sombre plus foncé */
    border: 1px solid #444; /* Bordure légère */
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    color: #fff; /* Texte blanc dans le conteneur */
}

h1 {
    font-size: 24px;
    color: #0DCE9D; /* Vert */
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444; /* Bordure légère */
    border-radius: 5px;
    background-color: #333; /* Couleur de fond sombre pour le menu déroulant */
    color: #fff; /* Texte blanc dans le menu déroulant */
}

#calculate-button {
    background-color: #0DCE9D; /* Vert */
    color: #fff; /* Texte blanc */
    padding: 12px 20px; /* Augmentation de la hauteur pour espacer les boutons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px; /* Espace supplémentaire sous le bouton */
}

#result {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    color: #0DCE9D; /* Vert */
}

/* Style amélioré pour les menus déroulants */
select {
    transition: border-color 0.2s, background-color 0.2s;
}

select:hover {
    border-color: #0DCE9D; /* Vert au survol */
}

#calculate-button:hover {
    background-color: #0AAB8E; /* Vert plus foncé au survol */
}

/* Styles pour les boutons de test */
.test-button {
    background-color: #007BFF; /* Bleu vif */
    color: #fff; /* Texte blanc */
    padding: 12px 20px; /* Hauteur et largeur des boutons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.test-button:hover {
    background-color: #0056B3; /* Bleu plus foncé au survol */
}
